{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div align="center">
    <form action="/autentificacion" class="acceso" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="user">Usuario</label><br>
        <input type="text" id="user" name="user" placeholder="usuario" class="entrada"> <br>
        <label for="password">Contraseña</label><br>
        <input type="password" id="password" name="password" placeholder="Contraseña" class="entrada"><br><br>
        <input type="submit" value="Iniciar" class="botonentrar"><br><br>
        <a href="/recuperarcontraseña" class="contrasenaolvidada">Olvide mi Contraseña</a><br>
    </form>
</div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h5>
            <div class="alert alert-primary alert-dismissible" role="alert" align="center">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span>&times;</span></button>
            </div>
        </h5>
        
        {% endfor %}
        {% endif %}
{% endwith %}
{% endblock %}