.acceso{
    padding: 10px;
    margin-top: 3%;
    margin-inline: 40%;
    background-color: rgb(85, 167, 221);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #4b70a0;
}
.acceso label{
    text-shadow: 2px 2px 3px black;
    color: white;
    font-size: 36px;
}
.entrada{
    border: solid 1px;
    padding-inline: 30px;
    border-radius: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(200, 219, 240);
}
.botonentrar{
    border: solid 2px black;
    border-radius: 5px;
    padding-inline: 20px;
    background-color: white;
    color: rgb(85, 167, 221);
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.1px rgb(14, 42, 61);
}
a{
    color: white;
    text-decoration: none;
}